/* Establece tipografia y color general para la vista */
.admin-layout {
  font-family: system-ui, -apple-system, sans-serif;
  color: #333;
}

.form-agregar-invitado {
  place-items: center;
  width: 75%;
}

.container-inputs {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.titulo-admin {
  color: var(--text-lienzo-accent-2);
  font-size: 2rem;
}

.subtitulo-admin {
  color: #34495e;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Agrega un fondo blanco bordes redondeados y sombra para separar secciones */
.admin-section {
  place-items: center;
  background: var(--text-lienzo-accent-2);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 0;
  margin: 2rem 0;
}

select,
input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
}

input[type="number"] {
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 40%;
  max-width: 200px;
}

/* display flex agrupa los botones en una linea y justify-content los centra */
.grupo-botones {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* Quita los estilos por defecto de los botones HTML para hacerlos minimalistas */
.grupo-botones button {
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #495057;
  flex-shrink: 0;
  padding: 5px;
  margin: 0;
  width: 50px;
  height: 80%;
}

.grupo-botones button svg {
  width: 80%;
  height: 80%;
}

button:hover {
  background-color: #435c35;
}

.btn-copiar:hover {
  background-color: #082857;
}

.btn-eliminar:hover {
  background-color: #570808;
}

.btn-icon-save {
  display: flex;
  gap: 5px;
}

@media (max-width: 768px) {
  .admin-layout {
    padding: 1rem !important;
  }

  .admin-section {
    padding: 1rem;
  }

  .container-inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;

    & input[type="text"],
    & input[type="number"] {
      padding: 0.5rem 1rem;
      width: 100%;
      margin: 0;
    }
  }

  .titulo-admin {
    font-size: 1.5rem;
  }

  .subtitulo-admin {
    font-size: 1.25rem;
  }

  .grupo-botones {
    width: 100%;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 8px;
    box-sizing: border-box;
  }
}