.sprite-hoja-contenedor {
  position: absolute; /* No ocupa espacio, flota sobre el lienzo */
  pointer-events: none;
  z-index: 5;
  animation: ondular 8s ease-in-out infinite;
}

.sprite-hoja {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/plantas.png');
  background-repeat: no-repeat;
  /* Zoom para aislar cada flor de sus vecinas */
  background-size: 450% 250%; 
  background-color: transparent; /* Fondo negro para integrar con el estilo de la imagen */
  filter: drop-shadow(0 0 1px var(--bg));
}

.h-1-1 { background-position: 5% 5%; }
.h-1-2 { background-position: 41.8% 9%; }
.h-1-3 { background-position: 65% 5%; }
.sprite-hoja.h-1-4 { 
  background-size: 420% 200%;
  background-position: 98% 1%; 
}


.sprite-hoja.h-2-1 {
  background-size: 300% 225%;
  background-position: 0% 90%;
}
.h-2-2 { background-position: 35% 95%; }
.h-2-3 { background-position: 67% 90%; }
.h-2-4 { background-position: 95% 90%; }

@keyframes ondular {
  0% {
    transform: rotate(var(--rot)) translateX(0) translateY(0);
  }
  50% {
    transform: rotate(calc(var(--rot) + 3deg)) translateX(5px) translateY(-5px);
  }
  100% {
    transform: rotate(var(--rot)) translateX(0) translateY(0);
  }
}