.lienzo {
  position: relative;
  width: 100%;
  max-width: 900px; /* Ancho de una carta real */
  margin: auto; /* Centrar en la pagina */
  box-sizing: border-box;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contenido-lienzo {
  padding: 4rem 2rem;
  min-height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .lienzo {
    overflow: visible;
  }
}